body {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 360px;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.weather-header {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: left;
  color: #fff;
  font-family: "Arial", sans-serif;
  border-bottom: 4px solid #ff5733;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-info {
  align-self: center;
}

.title {
  font-size: 48px;
  margin: 0;
}

.weather-header:hover {
  background-color: #343434;
  transition: 0.3s ease;
}

.weather-back {
  align-self: flex-end;
}

.back-button {
  position: absolute;
  right: 20px;
  top: 28px;
  cursor: pointer;
  background-color: #cd5c08;
  color: #fff;
  border: none;
  margin: 0;
  padding: 4px 18px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, ease-in 0.2s;
}

.back-button:hover {
  transform: scale(1.1);
}

/* Styles for the search container */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* Styles for individual elements */
.cityName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
}

.feels-like {
  font-size: 14px;
  margin-top: 5px;
}

.description {
  font-size: 18px;
  margin-top: 10px;
}

.humidity {
  font-size: 14px;
}

.min-max {
  font-size: 14px;
  margin-top: 10px;
}

.min,
.max {
  font-size: 14px;
  margin: 5px 0;
}

.windSpeed {
  font-size: 14px;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
}

.footer-logo img {
  width: 80px;
  border-radius: 30%;
  margin: 20px;
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  background-color: #222;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/* Media Queries */

@media (max-width: 770px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width: 613px) {
  .title {
    font-size: 15px;
  }

  .back-button {
    position: absolute;
    top: 22px;
    padding: 3px 6px;
    font-size: 15px;
  }
  .weather-header {
    padding-top: 12px;
    padding-right: 8px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 12px;
  }

  .back-button {
    position: absolute;
    top: 16px;
    padding: 1px;
  }
}

@media (max-width: 400px) {
  .footer-container {
    height: 90px;
  }
}
